/*Recommended Homework*/

/*elements on all pages*/

* {
	color: #777777;
	font-style: 'Arial', 'Helvetica Neue', 
		Helvetica, sans-serif;
}

header {
	color: #eee;
	font-family: 'Georgia', Times, 
		Times New Roman, serif;
}

h2 {
	margin-left: 10px;
	margin-right: 10px;
	color: #4aaaa5;
	border-bottom: 3px solid #dddddd;
}

h3 {
	border-bottom: 3px solid #dddddd;
	margin-right: 10px;
	margin-left: 10px;
	color: #4aaaa5;
}

.page-header {
	background: #eee;
	width: 960px;
	border-bottom: 5px #cccccc;
}

#myName {
	background: #4aaaa5;
	color: white;
	width: 300px;
	height: 40px;
	text-align: center;
	margin-left: 20px;
	float: left;
	padding-top: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.clearFix {
	clear: both;
	width: 100%;
}

/*These are links in the header*/
#links {
	float: right;
	padding-top: 15px;
	margin-right: 100px;
}

.pageLinks {
	margin: 10Px;

}

p {
	padding-right: 20px;
	margin-left: 10px;
}

#connect {
	background-color: #ffffff;
	width: 270px;
	height: 200px;
	float: left;
	text-align: center;
	margin-top: 30px;
}

#connectTitle{
	
}

.contactLinks {
	max-width: 57px;
	align-items: center;
}

#footer {
	background: #666666;
	width: 940px;
	height: 40px;
	text-align: center;
	border-top: 7px solid #4aaaa5;
	color: white;
	padding-top: 15px;
	position: relative;
	left: -10px;
	top: -12px;
	margin-top: 0px;
	font-size: 10px;

}

/*index page*/

#mainBody {
	background-image: url("../images/textured_paper.png");
	background: ;
	width: 960px;
	height: 400px;
}

#aboutMe {
	background: #ffffff;
	width: 610px;
	height: 300px;
	float: left;
	margin: 30px 20px 0px 20px;
	padding-bottom: 10px;

}


#selfPhoto {
	max-width: 150px;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}


/*Portfolio page */

.portImages {
	width: 150px;
	max-height: 150px;
	margin: 10px;
}

/*placeholder images (Portfoliio)*/

/*Bender*/
#place1 {
	float: left;
}

/*Simpsons*/
#place2 {
	float: left;
	/*position: relative;*/
	/*top: -225px;*/
	/*left: 200px;*/
}

/*Southpark*/
#place3 {
	/*position: relative;*/
	/*top: -280px;*/

}

/*Army*/
#place4 {
	/*position: relative;*/
	/*top: -507px;*/
	/*left: 200px;*/
}

#portBody {
	background-image: url("../images/textured_paper.png");
	width: 960px;
	height: 500px;
}	

#portTitle {
	margin-left: 10px;
	margin-right: 10px;
	color: #4aaaa5;
	border-bottom: 3px solid #dddddd;
}

#portLinks {
	background: #ffffff;
	width: 610px;
	height: 400px;
	float: left;
	margin: 30px 20px 0px 20px;
	padding-bottom: 10px;
}

#topPortFloatPic {
	width: 100%;
	float: left;
}

#topPortFloatPara {
	width: 100%;
	/*float: left;*/
}

#bottomPortFloatPic {
	width: 100%;
	clear: both;
}

#bottomPortFloatPara {
	width: 100%;
	/*float: left;*/
}

/*Portfolio page placeholder labels*/

#bender{
	width: 130px;
	height: 20px;
	background: #4aaaa5;
	position: relative;
	top: 106px;
	right: 340px;
	text-align: center;
	color: white;
	float: left;
}

#simpsons {
	width: 130px;
	height: 20px;
	background: #4aaaa5;
	text-align: center;
	color: white;
	float:left;
	position: relative;
	top: 54px;
	left: -169px;	
}

#southpark {
	width: 130px;
	height: 20px;
	background: #4aaaa5;
	text-align: center;
	color: white;
	clear:both;
	position: relative;
	top: -66px;
}

#army {
	width: 130px;
	height: 20px;
	background: #4aaaa5;
	text-align: center;
	color: white;
	float: left;
	position: relative;
	top: -118px;
	left: 174px;
}


/*Contact page */

#contactBody {
	background-image: url("../images/textured_paper.png");
	width: 960px;
	height: 500px;
}

#contactTitle {
	margin-left: 10px;
	margin-right: 10px;
	color: #4aaaa5;
	border-bottom: 3px solid #dddddd;
}

#entryForm {
	margin-left: 20px;
	margin-right: 20px;
	color: #4aaaa5;
	float: left;
	width: 100%;
	padding: 0px 10px 0px 10px;
	position: relative;
	line-height: 1.5;

}

#contactFormBox {
	background: #ffffff;
	width: 610px;
	height: 400px;
	float: left;
	margin: 30px 20px 0px 20px;
	padding-bottom: 10px;
}